<% include("partials/header"); %>
<link rel="stylesheet" href="app.css">
<link rel="stylesheet" href="style.css">

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Tontei's Twitter clone</h1>
        <p class="lead">This is my version of twitter, enjoy anonymous messaging.</p>
    </div>
</div>

<div class="button-container">
    <h2 class="display-4">The new app</h2>
    <div >
        <a href="/register" class="btn btn-outline-primary" role="button">
            Register
        </a>
        <a href="/login" class="btn btn-primary" role="button">
            Login
        </a>
    </div>
</div>

<% include("partials/footer") %>