<% include("partials/header"); %>
<link rel="stylesheet" href="app.css">
<link rel="stylesheet" href="style.css">

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Tontei's Twitter clone</h1>
        <p class="lead">This is my version of twitter, enjoy anonymous messaging.</p>
    </div>
</div>

<div class="button-container">
    <div>
        <h2 class="display-4">Register or login</h2>
    </div>
    

    <div class="row">

        <div class="col-lg-6 col-sm-12">
            <a href="/register" class="btn btn-outline-primary buttons btn-lg" role="button">
                Register
            </a>
        </div>

        <div class="col-lg-6 col-sm-12">
            <a href="/login" class="btn btn-primary buttons btn-lg" role="button">
                Login
            </a>
        </div>

    </div>
</div>

<% include("partials/footer") %>