<%- include("partials/header"); %>


<div class="text-center intro">
    <div>
        <h1 class="header display-2">Tontei's Twitter clone</h1>
    </div>

</div>



<div class="text-center cta">

    <div class="">
        <p class="">Register | | login</p>
    </div>



    <div class="button-container">

        <a href="/register" class="register-button register-button-text">Register</a>
        <a href="/login" class="login-button login-button-text">Login</a>

    </div>
</div>

<footer>Tontei 2020</footer>

<%- include("partials/footer") %>