<%- include("partials/header.ejs"); %>


<div class="tweeting-container my-container">

    

    <div class="name-container">
        <h1 class="name"><%= userName %></h1>
    </div>


    <div class="tweet-form">
        <!-- <form action="" method="POST"> -->

            <div class="row">
                <div class="col-sm-12 form-group">
                    <textarea name="tweet" id="tweet" class="form-control tweet" rows="2" cols="70" required></textarea>
                </div>
                <div class="col-sm-12 form-group">
                    <button class="btn btn-lg btn-dark tweet-button" >Tweet</button>
                </div>
            </div>

        <!-- </form> -->
    </div>

    <div>
        <table class="tweet-table row">

            

        </table>
    </div>
</div>


<footer>Tontei 2020</footer>

<%- include("partials/footer.ejs") %>