<% include("partials/header"); %>
<link rel="stylesheet" href="app.css">
<link rel="stylesheet" href="style.css">

<div class="container my-container">
    <h1>Register</h1>

    <form action="/register" method="POST">
        <div class="form-group">
            <label>first name</label>
            <input type="Text" class="form-control" name="username">
        </div>
        <!-- <div class="form-group">
            <label>e-mail address</label>
            <input type="email" class="form-control" name="username">
        </div> -->
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<% include("partials/footer") %>