
body {
    width: 100%;
    margin: 0;
}

.intro {
    background-color: rgb(80, 141, 255);
    color: white;
    padding: 5%;
}

.cta {
    color:  rgb(80, 141, 255);
    margin: 5% 0 0;
}

.header {
    margin: 20px;
}

.buttons {
    /* padding: 5% 20%; */
    margin: 5% 0;
}

.button-container {
    position: absolute;
    padding: 0 10%;
    left: 25%;
    right: 25%;
    margin: 5% 0;
}

.my-container {
    margin-top: 10%;
}

textarea {
    resize: none;
}


@media screen and (max-width:768px) {
    .buttons {
        margin: 5% 2%;
        padding: 10% 40%;
    }

    .intro {

    }

    .my-container {
        padding: 0;
        margin: 0;
    }

    .button-container {
        margin: 0 0;
        position: absolute;
        padding: 0 5%;
        left: 15%;
        right: 15%;

    }

    .header, h1,p {
        font-size: xx-large;
        margin: 20%;
    }

    body {
        background-color: yellow;
    }
}