
body {
    width: 100%;
    margin: 0;
}

h1,h2 {
    margin: 20px;
}

.button-container {
    text-align: center;
}

.my-container {
    margin-top: 50px;
}

textarea {
    resize: none;
}

a:hover {
    text-decoration: none;
}

@media screen and (max-width:500px) {
    .buttons {
        margin-top: 20px;
        height: 50px;
        width: 100%;
    }

    .container, .my-container {
        padding: 2px;
    }

    h1,h2 {
        width: 100%;
        margin: 20px;
    }
}